<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zihuan.baseadapter">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".MainApplication"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.HeadRecyclerActivity" />
        <activity android:name=".activity.HeadRecyclerActivity2" />
        <activity android:name=".activity.RefreshLoadMoreActivity" />
        <activity android:name=".activity.LeftSlidDeleteActivity" />
        <activity android:name=".activity.LeftSlidDeleteActivity2" />
        <activity android:name=".activity.ChildClickActivity" />
        <activity android:name=".activity.DataBindActivity" />

    </application>

</manifest>